@charset 'UTF-8';

.alert {
  padding: $grid-gutter-width;

  &.alert-dismissible {
    position: relative;
    padding-right: $grid-gutter-width * 2;
  }

  .close {
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  .close:hover {
    cursor: pointer;
    opacity: 1;
  }

  .close:before,
  .close:after {
    content: ' ';
    position: absolute;
    left: 15px;
    width: 2px;
    height: 33px;
    background-color: $gray-base;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
}

.alert-flex {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
  }
}
