@charset 'UTF-8';

.contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (min-width: $screen-md-min) {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: $screen-lg-min) {
    justify-content: flex-start;
  }
}

.contact-wrapper-logo {
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    width: 100px;
  }
}

.contact-logo {
  max-width: 100px;
}

.contact-info,
.contact-social {
  margin-top: 20px;

  @media screen and (min-width: $screen-sm-min) {
    margin-left: $grid-gutter-width;
  }
}

.contact-social {
  max-width: 165px;
}

@media screen and (min-width: $screen-sm-min) {
  width: 100px;
}
