@charset 'utf-8';

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 ($grid-gutter-width / -2);

  > * {
    flex: 1 1 calc(#{percentage(1/3)} - #{$grid-gutter-width});
    min-width: 250px;
    margin: ($grid-gutter-width / 2);
  }
}
