@charset 'UTF-8';

.google-map {
  width: 100%;
  height: 300px;
  pointer-events: none;
  border: 1px solid $brand-primary;

  @media screen and (min-width: $screen-md-min) {
    pointer-events: auto;
    height: 500px;
  }

  .container-gmap {
    color: $black;
  }
}
