@charset 'UTF-8';

.header {
  max-width: $container-large-desktop - $grid-gutter-width;
  margin: 0 auto;

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    @media only screen and (min-width: $screen-sm-min) {
      flex-direction: row;
      align-items: center;
    }
  }

  .logo-container {
    display: inline-block;
    width: 280px;
    height: 100px;
    padding: 0 $grid-gutter-width 0 $grid-gutter-width;
    overflow: hidden;

    @media only screen and (min-width: $screen-md-min) {
      width: 400px;
      height: 120px;
    }

    @media only screen and (min-width: $screen-lg-min) {
      padding-left: 0;
      height: 140px;
    }

    img {
      display: block;
      position: relative;
      top: 50%;
      max-width: 100%;
      margin: 0 auto;
      transform: translateY(-50%);

      @media only screen and (min-width: $screen-xs-min) {
        top: -10px;
        transform: none;
      }

      @media only screen and (min-width: $screen-lg-min) {
        top: -30px;
      }
    }

    .logo-slogan {
      position: relative;
      top: -30px;
      font-size: 12px;

      @media only screen and (min-width: $screen-lg-min) {
        top: -60px;
        font-size: 16px;
      }
    }
  }

  .left-container {
    display: flex;
    align-items: center;
  }

  .left-container {
    flex-direction: row;

    @media only screen and (min-width: $screen-md-min) {
      max-width: 600px;
    }

    @media only screen and (min-width: $screen-lg-min) {
      max-width: 700px;
    }
  }

  .right-container {
    width: 100%;
    padding: 15px 0;

    @media only screen and (min-width: $screen-sm-min) {
      padding: 0;
    }
  }
}
