@charset 'UTF-8';

@media only screen and (min-width: $screen-sm-min) {
  .inline-cta-container {
    display: flex;
    align-items: baseline;
    margin-top: auto;

    > a {
      margin-right: 0.4em;
    }
  }
}

.inline-cta {
  display: flex;
}

.inline-cta-logo {
  width: 250px;
  margin-left: auto;
}
