@charset 'UTF-8';

.jumbotron-sawi {
  overflow: hidden;
}

.jumbotron-sawi-intro:not(.jumbotron-sawi-intro-full-width) {
  .inline-cta-container {
    flex-direction: column;
  }

  .inline-cta-legend {
    margin-top: $grid-gutter-width / 2;
  }

  @media only screen and (min-width: $screen-md-min) {
    .inline-cta-legend {
      margin-top: 0;
    }

    .inline-cta-container {
      flex-direction: row;
      align-items: center;
    }
  }

  @media only screen and (min-width: $screen-lg-min) {
    .inline-cta-container {
      flex-direction: row;
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  .jumbotron-sawi-container {
    display: flex;
    align-items: center;
    min-height: 66vh;
  }

  .jumbotron-sawi-container.jumbotron-sawi-container-mini {
    min-height: 0;
  }

  .jumbotron-sawi-picture {
    order: 1;
    min-width: 75%;
  }
}

@media only screen and (min-width: $screen-md-min) {
  .jumbotron-sawi-intro.jumbotron-sawi-intro-full-width {
    width: 100%;
  }

  .jumbotron-sawi-intro:not(.jumbotron-sawi-intro-full-width) {
    width: 50%;
  }

  .jumbotron-sawi-picture {
    width: 50%;
    min-width: 50%;
  }
}

.jumbotron-sawi-p {
  margin-bottom: 20px;
}

.jumbotron-sawi-h1 {
  margin-top: 20px;
}

@media only screen and (min-height: 30em) {
  .jumbotron-sawi-h1 {
    font-size: 9vh;
    line-height: 0.9em;

    @media only screen and (max-width: $screen-sm-max) {
      font-size: 6vh;
      line-height: 6vh;
    }
  }

  .jumbotron-sawi-p {
    margin-top: 1em;
    font-size: 3.5vh;
    line-height: 1.1em;
  }
}
