@charset 'UTF-8';

.menu-desktop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: $grid-gutter-width 0 ($grid-gutter-width / 2);
  margin-right: -$padding-base-vertical;
  margin-left: -$padding-base-vertical;
}
