@charset 'UTF-8';

.newsletter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;

  h4 {
    width: 100%;
  }

  @media screen and (min-width: $screen-xs-min) {
    h4 {
      width: auto;
      margin-left: 15px;
    }
  }

  @media screen and (min-width: $screen-md-min) {
    flex-wrap: nowrap;
    justify-content: space-between;

    h4 {
      flex-grow: 1;
    }

    .form-inline {
      align-self: center;
    }
  }
}
