@charset 'UTF-8';

.school-hub {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: $screen-md-min) {
    flex-direction: row;
    align-items: center;
  }
}

.schools-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (min-width: $screen-sm-min) {
    flex-wrap: nowrap;
  }

  @media screen and (min-width: $screen-md-min) {
    width: 50%;
  }

  a {
    width: 100px;
    height: 40px;
    text-align: center;

    @media screen and (min-width: $screen-sm-min) {
      height: 50px;
    }
  }

  img {
    height: 100%;
  }
}
