@charset 'UTF-8';

ul.socials-icons {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-around;
  list-style: none;
  font-size: $font-size-h4;

  @media only screen and (min-width: $screen-md-min) {
    flex-wrap: wrap;
  }

  > li {
    padding: 13px 16px;

    @media only screen and (min-width: $screen-md-min) {
      padding: 0;
    }

  }

  a {
    font-size: 33px;

    @media only screen and (min-width: $screen-md-min) {
      font-size: 45px;
    }

    color: $white;
    transition: 0.25s color ease-in-out;

    &:hover,
    &:active {
      color: $brand-primary;
    }
  }
}
