@charset 'UTF-8';

.contact-social {
  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    margin-top: -($grid-gutter-width / 2);
  }
}
