@charset 'UTF-8';

.teaser-profil {
  margin-bottom: $grid-gutter-width;
  padding: ($grid-gutter-width / 2) $grid-gutter-width;
  border: 1px solid $gray-lighter;

  &.teaser-profil-no-border {
    border: none;
  }

  .media-left {
    padding-right: $grid-gutter-width / 2;

    img {
      min-width: 130px;
      width: 100%;
      border: 1px solid $gray-lighter;
    }
  }
}
