@charset 'UTF-8';

.teaser-seance-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.teaser-seance {
  flex: 1 0;
  min-height: 150px;
  position: relative;
  margin-bottom: $grid-gutter-width;
  padding: $grid-gutter-width;
  background-color: $gray-lighter;
  border: none;
  z-index: 2;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1px darken($gray-lighter, 5%);
    transition: box-shadow 0.3s ease-in-out;
    z-index: 3;
  }

  &:hover {
    color: $text-color;

    &:before {
      box-shadow: inset 0 0 0 5px rgba(0, 0, 0, 0.4);
    }
  }

  &:active,
  &:focus {
    color: $text-color;

    &:before {
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.4);
    }
  }

  .label {
    padding: $grid-gutter-width / 2;
    font-size: $font-size-base;
  }

  .teaser-seance-infos {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;

    @media only screen and (min-width: $screen-sm-min) {
      flex-direction: row;
      align-items: center;
    }

    > div:not(:last-child) {
      margin-bottom: $grid-gutter-width / 2;
    }

    @media only screen and (min-width: $screen-sm-min) {
      > div,
      > div:not(:last-child) {
        margin-right: $grid-gutter-width;
        margin-bottom: 0;
      }
    }

    .icon-text.icon-text-sm .text {
      line-height: 1.1em;
    }
  }

  .teaser-seance-inlays {
    position: absolute;
    /* top: 0; */
    right: -12%;
    bottom: -56%;
    width: 40%;
    z-index: 1;

    svg {
      fill: darken($gray-lighter, 2%);
    }
  }
}
