@charset 'UTF-8';

.teaser-degree {
  position: relative;
  width: 100%;
  margin-bottom: $grid-gutter-width;
  padding: $grid-gutter-width;
  border: 1px solid  darken($gray-lighter, 5%);
  border-bottom: 4px solid $brand-primary;
  z-index: 2;
  overflow: hidden;

  &:active,
  &:focus {
    color: $text-color;
  }

  .label {
    padding: $grid-gutter-width / 2;
    font-size: $font-size-base;
  }
}
