@charset 'UTF-8';

.teaser-certification {
  display: block;
  max-width: 150px;
  padding: $grid-gutter-width/2 0;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 0;
  }

  img {
    width: 100%;
    opacity: 0.7;
  }
}
