$gray-base:             #1d1d1b;
$brand-primary:         #ffe000;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$gray-darker:            lighten($gray-base, 13.5%) !default;
$gray-dark:              lighten($gray-base, 20%) !default;
$gray:                   lighten($gray-base, 33.5%) !default;
$gray-light:             lighten($gray-base, 46.7%) !default;
$gray-lighter:           #eee !default;
$white:                  #fff;
$wild-sand:              #f2f2f2;
$silver-chalice:         #aaa;
$white-alpha-80:         rgba(255, 255, 255, 0.8);
$white-alpha-40:         rgba(255, 255, 255, 0.4);
$white-alpha-0:          rgba(255, 255, 255, 0);
$black-alpha-40:         rgba(0, 0, 0, 0.4);

$black:                 #000;

$strategie-digital:           #eeeeee;
$brand-design-management:     #ec6d71;
$marketing-operationnel:      #9dbdbb;
$retail-merchandising:        #8dafb7;
$media-planning:              #746BFE;
$communication:               #eeeeee;
$marketing:                   #3fb5dd;
$vente:                       #b64926;

// Schools
$schools: (
  polycom,
  sms,
  procom,
  supdeluxe,
);

$schools-color: (
  procom-background-color:#eee,
  procom-border-bottom:#1b959a,
  procom-color: #383636,
  procom-btn-primary-background-color: #1b959a,
  procom-btn-primary-background-color-hover: #138388,
  procom-btn-primary-color: #fff,
  procom-btn-primary-box-shadow-hover: #98968b,

  supdeluxe-background-color:#e2001a,
  supdeluxe-border-bottom: $brand-primary,
  supdeluxe-color: #fff,
  supdeluxe-btn-primary-background-color: $brand-primary,
  supdeluxe-btn-primary-background-color-hover: $brand-primary,
  supdeluxe-btn-primary-color: $gray-base,
  supdeluxe-btn-primary-box-shadow-hover: $gray-base,

  sms-background-color:#1377b8 ,
  sms-border-bottom:#b50f1f ,
  sms-color: #fff,
  sms-btn-primary-background-color: #b50f1f ,
  sms-btn-primary-background-color-hover: #e31327 ,
  sms-btn-primary-color: #fff,
  sms-btn-primary-box-shadow-hover: #98968b ,

  polycom-background-color:#000,
  polycom-border-bottom:#d8001d ,
  polycom-color: #fff,
  polycom-btn-primary-background-color: #d8001d ,
  polycom-btn-primary-background-color-hover: #fa0324 ,
  polycom-btn-primary-color: #fff,
  polycom-btn-primary-box-shadow-hover: #fff,
);

$schools-secondary: (
  polycom:   black,
  sms:       #1377b8,
  procom:    #eee,
  procom-hover: #138388,
  supdeluxe: #eee,
);

$btn-primary-color:              $gray-base !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $brand-primary !default;

$text-color:            $gray-base !default;

$font-family-sans-serif:  "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base:          20px !default;

//** Global textual link color.
$link-color:            $gray-base !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $brand-info !default;

//** Default label background color
$label-default-bg:   $gray-lighter;
//** Default label text color
$label-color:                 $gray-base !default;
//** Default text color of a linked label
$label-link-hover-color:      $gray-base !default;

$state-info-text:                $gray-base !default;
$state-info-bg:                  $brand-primary !default;
$state-info-border:              $brand-primary !default;

$state-success-border:           #dff0d8 !default;
$state-danger-border:            #fcf8e3 !default;

// Colors
$teaser-news-light: $silver-chalice;

// forms
$input-bg-focus: $white;
$input-border-disabled: lighten($gray, 50%);
$input-border-size: 1px;
