@charset 'UTF-8';

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  opacity: 0;
  transition: 0.25s opacity ease-in-out;
  z-index: -1;

  &.visible {
    opacity: 0.4;
    z-index: $zindex-modal + 1;
  }
}
