@charset 'UTF-8';

.collapse-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.collapse-chevron {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%) rotate(180deg);
  font-size: 0.8rem;
}

.collapse-toggle {
  width: 30px;
  height: 30px;

  &.collapsed {
    color: $brand-primary;

    .collapse-chevron {
      top: 60%;
      transform: translate(-50%, -60%) rotate(0);
    }
  }
}
