@charset 'UTF-8';

.dropdown {
  display: inline-block;

  &.open {
    .dropdown-toggle {
      background-color: $black;
      color: $brand-primary;
    }

    .dropdown-chevron {
      top: 50%;
      transform: translate(-50%, -60%) rotate(180deg);
    }
  }
}

.dropdown-link {
  position: relative;
  font-weight: bold;

  // Bottom bar on hover
  &:before {
    content: " ";
    position: absolute;
    bottom: $padding-base-vertical / 2;
    left: $padding-base-vertical * 2;
    height: 2px;
    width: calc(100% - #{$padding-base-vertical * 4});
    background-color: $link-hover-color;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover {
    color: inherit;
    text-decoration: none;

    &:before {
      opacity: 1;
    }
  }
}

.dropdown.btn-group .dropdown-link {
  // Right bar
  &:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 45%;
    width: 1px;
    background-color: $gray-light;
  }
}

.dropdown-toggle {
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: -8px;
  color: $brand-primary;
  transition:
    color 0.15s ease-in-out,
    background-color 0.18s ease-in-out;

  &:hover {
    color: $black;
    background: $brand-primary;
  }
}

.dropdown-chevron {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 0.8rem;
}

.dropdown.btn-group {
  .dropdown-menu {
    top: 80%;
    left: calc(0px + #{$padding-base-vertical * 2});
    border-top: 1px solid $black;
  }
}

.dropdown-menu {
  padding: 0;

  > li > a {
    padding: ($padding-base-vertical * 2) ($padding-base-horizontal * 2);
    font-weight: bold;
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-color;
      background-color: $link-hover-color;
    }
  }
}
