@charset 'UTF-8';

.language-picker {
  display: inline-block;
  margin: 0 $grid-gutter-width/2 0;
  padding: $grid-gutter-width 0;
  color: $gray;
  text-transform: uppercase;
  font-size: $font-size-h4;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 0;
  font-size: $font-size-h6;
  }

  .active {
    color: $black;
    font-weight: bold;
  }
}
