@charset 'UTF-8';

.language-picker {
  display: inline-block;
  margin: 0 $grid-gutter-width/2 0;

  a, span {
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
    text-decoration: underline;
    color: $black;

    &.active {
      color: $media-planning;
      text-decoration: none;
    }
  }
}
