@charset 'UTF-8';

a {
  color: $link-color;
  text-decoration: underline;
  transition: color 0.25s ease-in-out;

  &.active {
    color: $gray;
  }

  &.no-underline {
    text-decoration: none;
  }

  &.no-hover {
    &:hover,
    &:active {
      color: initial !important;
    }
  }

  &.link-invert {
    color: $white;
  }

  &.link-hover-white {
    &:hover,
    &:active {
      color: $white;
    }
  }

  &.link-light {
    color: $gray;

    &:hover {
      color: $link-hover-color;
    }
  }
}
