@charset 'UTF-8';

a {
  color: $link-color;
  text-decoration: underline;
  transition: color 0.25s ease-in-out;

  &.active {
    color: $gray;
  }

  &.no-underline {
    text-decoration: none;
  }

  &.link-invert {
    color: $white;
  }
}
