@charset 'UTF-8';

.table {
  &.table-wide {
    @media only screen and (max-width: $screen-xs-max) {
      tbody {
        display: block;
      }
    }
  }

  td.col-label-fixed {
    width: 350px;
  }

  @media only screen and (max-width: $screen-xs-max) {
    display: block;

    tr,
    td {
      display: block;
    }

    td.text-right {
      text-align: left !important;

      + td {
        border-top: 0;
      }
    }
  }
}
