@charset 'UTF-8';

.theme-strategie-digital,
a.theme-strategie-digital,
a.theme-strategie-digital:hover,
.theme-strategie-digital .inline-cta-legend a {
  background-color: $strategie-digital;
  color: $gray-base;
}

.theme-brand-design-management,
a.theme-brand-design-management,
a.theme-brand-design-management:hover,
.theme-brand-design-management .inline-cta-legend a {
  background-color: $brand-design-management;
  color: $white;
}

.theme-marketing-operationnel,
a.theme-marketing-operationnel,
a.theme-marketing-operationnel:hover,
.theme-marketing-operationnel .inline-cta-legend a {
  background-color: $marketing-operationnel;
  color: $white;
}

.theme-retail-merchandising,
a.theme-retail-merchandising,
a.theme-retail-merchandising:hover,
.theme-retail-merchandising .inline-cta-legend a {
  background-color: $retail-merchandising;
  color: $white;
}

.theme-media-planning,
a.theme-media-planning,
a.theme-media-planning:hover,
.theme-media-planning .inline-cta-legend a {
  background-color: $media-planning;
  color: $white;
}

.theme-communication,
a.theme-communication,
a.theme-communication:hover,
.theme-communication .inline-cta-legend a {
  background-color: $communication;
  color: $gray-base;
}

.theme-marketing,
a.theme-marketing,
a.theme-marketing:hover,
.theme-marketing .inline-cta-legend a {
  background-color: $marketing;
  color: $black;
}

.theme-vente,
a.theme-vente,
a.theme-vente:hover,
.theme-vente .inline-cta-legend a {
  background-color: $vente;
  color: $white;
}

.theme-corporate,
a.theme-corporate,
a.theme-corporate:hover,
.theme-corporate .inline-cta-legend a {
  background-color: $brand-primary;
  color: $black;
}

.theme-school-sms,
a.theme-school-sms,
a.theme-school-sms:hover,
.theme-school-sms .inline-cta-legend a {
  background-color: map-get($schools-secondary, sms);
  color: $black;
}

.theme-school-polycom,
a.theme-school-polycom,
a.theme-school-polycom:hover,
.theme-school-polycom .inline-cta-legend a {
  background-color: map-get($schools-secondary, polycom);
}

.theme-school-procom,
a.theme-school-procom,
a.theme-school-procom:hover,
.theme-school-procom .inline-cta-legend a {
  background-color: $brand-primary;
  color: $black;
}

.theme-school-supdelux,
a.theme-school-supdelux,
a.theme-school-supdelux:hover,
.theme-school-supdelux .inline-cta-legend a {
  background-color: map-get($schools-secondary, supdeluxe);
}
